<h1>Editing Exercise Types In User</h1>

<%= render 'form', exercise_types_in_user: @exercise_types_in_user %>

<%= link_to 'Show', @exercise_types_in_user %> |
<%= link_to 'Back', exercise_types_in_users_path %>
