#forgot-label {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0 0 10px 0;
}

#sub-title {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}

#title {
  font-family: 'Anton', sans-serif;
  font-size: 80px;
  margin-bottom: 0;
}

#title-nav {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  margin-bottom: 0;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lunch-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in-box {
  text-align: center;
}

.join-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
}

.title {
  margin: 20px 0 20px 0;
}

.devise-label {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0 0 0 5px;
}

.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

// flash messages

.alert-container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 5%;
  left: 0;
}

.alert {
  text-align: center;
}
