<%= render 'layouts/navbar' %>

<h1>Editing Captain Profile</h1>

<%= render 'form', captain_profile: @captain_profile %>

<%= link_to 'Show', @captain_profile %> |
<%= link_to 'Back', request.referrer %>
